<%= display_errors_for 'note' %>

<%= hidden_field('note', 'ref_id') %>
<%= hidden_field('note', 'ref_type') %>

<p><label for="note_email"><strong>E-mail:</strong></label><br/>
<%= text_field('note', 'email', {:size=>60, :maxlength=>40}) %></p>

<p><label for="note_text"><strong>Note</strong></label><br/>
<%= text_area('note', 'text', {:rows=>10, :cols=>80, :wrap=>:virtual}) %></p>

</p>