<div class="note">
  <div class="note_header">
  <strong>Name:</strong> <%= @note.name %> <strong>Category:</strong> <%= @note.category %> <strong>By:</strong> <%= mangle_email_for_display(@note.email) %><br />
  <a href="#"><%= @note.created_at.strftime("%d-%b-%Y %H:%M") %></a>
  </div>
  <div class="note_text">
		<div class="ruby">
		<%= fix_note_for_display(@note.text) %>
		</div>
</div><!-- text -->
</div><!-- note -->
