<h2>Preview New Note For: <%= @note.get_display %></h2>
<% if(@note.errors.empty?) %>
<%= render :partial => 'note' %>
<% end %>

<%= start_form_tag :action => 'preview' %>
<%= render :partial => 'form' %>
<% if(@note.errors.empty?) %>
  <%= submit_tag "Submit", :name => 'create' %>
<% end %>  
<%= submit_tag "Preview Again" %>
<%= end_form_tag %>