<div class="left_banner">
  <%= sidebar_nav %>
</div>

<%= form_remote_tag   :url => { :action => :search_by_name }, 
                      :update => 'search_results', 
                      :class => "search_form"
%>
<input type="text" name="name" size="20"/>
<%= end_form_tag %>

<div id="search_results" class="left_entries">
</div>
