<div class="sectiontitle">
<span class="note_link"><%= show_notes_link('children') %></span>
<strong>Child Classes and Modules</strong></div>
<% for child in @ra_children %>
<%= child.class.type_string.capitalize %> <%= link_to_container(child) %><br/>
<% end %>
<div id="notes_children" style="display:none"></div>