HTML {
  PADDING: 0px; MARGIN: 0px;
}
BODY {
  PADDING: 0px; MARGIN: 0px; FONT: 1em "Lucida Grande", Helvetica, sans-serif; 
}
A {
	  COLOR: #213449
}
TABLE {
  PADDING: 0px; MARGIN: 0px; BORDER: 0px; BORDER-COLLAPSE: collapse;
}
TD, TR {
  PADDING: 0px; MARGIN: 0px;
}
FORM {
  DISPLAY: inline;
}
FORM INPUT {
  	FONT-SIZE: 80%;
}
H1,H2,H3,H4,H5,H6 {
  	MARGIN: 0 0 0 0px;
	}
	IMG {
  	BORDER: 0px;
}
	
	.comment H1, H2 {
	  	MARGIN: 0px 0px 5px; FONT-SIZE: 120%; COLOR: #555; BORDER-BOTTOM: #ccc 1px dotted;  
	}
.comment PRE {
  padding: 0.5em;
  border: 1px dotted black;
  background: #CBE6F3;
}
.comment TT {
}
	
.title_table {
  FONT-SIZE: 80%; BACKGROUND-COLOR: #213449; padding: 5px; vertical-align:middle;
}
.title_td {
  PADDING: 7px;
}
.title_tr {
  BACKGROUND-COLOR: #213449; color: #ffff66;
}
.title_tr A {
  COLOR: #ffff66;
}
.title_main_link {
  FONT-SIZE: 140%; COLOR: #fff; TEXT-DECORATION: none;  font-weight: bold;
}
.title_subtext {
  FONT-SIZE: 80%;
}

.header_space {
  PADDING-TOP: 8px;
}
.body_table {
  width: 96%;
  margin-left:20px;
  align: center;
}
.sidebar_td {
  PADDING: 5px; FONT-SIZE: 70%; BACKGROUND-COLOR: #fafaea; LINE-HEIGHT: 1.3em; BORDER-RIGHT: black 1px solid; VERTICAL-ALIGN: top;
}
.container_body_td {
  PADDING: 5px; VERTICAL-ALIGN: top; FONT-SIZE: 80%;
}
.container_header {
  FONT-SIZE: 170%;  font-weight: bold; 
}

.section_title {
  	MARGIN: 10 0 10 0px; FONT-SIZE: 120%; FONT-WEIGHT: bold; COLOR: #ffff66;
  padding: 0.3em;
  border: 1px dotted black;
  background: #213449;	
}
.note_link {
  display: inline;
  float: right;
  font-size: 100%;
  font-weight: normal;
}
.note_link a {
  font-size: 100%;
  font-weight: normal;
  COLOR: #ffff66;
}

.method {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}

.description pre {
  padding: 0.4em;
  border: 1px dotted black;
  background: #CBE6F3;
}

.description p, .sourcecode p {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

.usernotes {
}
.action {
}
.note {
 background-color: #CBE6F3;
 padding: 5px;
}
.note_header {
 background-color: #AAD7FB;
 padding: 5px;
}
.note_text {
 background-color: #CBE6F3;
 padding: 3px;
 margin-top:2px;
}

.sourcecode {
  padding: 0.5em;
  border: 1px dotted black;
  background: #fafaea; 
}

.slist {
  PADDING: 0px; MARGIN: 0px 0px 0px 10px; COLOR: #777; LIST-STYLE-TYPE: square
}
.slist A {
  PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}

.clearfix:unknown {
  	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.clearfix {	
}
HTML .clearfix {
  	HEIGHT: 1%
}
.clearfix {
  	DISPLAY: block
}

.ruby .normal {}
.ruby .note { color: #005; font-style: italic; }
.ruby .keyword { color: #A00; font-weight: bold; }
.ruby .method { color: #077; }
.ruby .class { color: #074; }
.ruby .module { color: #050; }
.ruby .punct { color: #447; font-weight: bold; }
.ruby .symbol { color: #099; }
.ruby .string { color: #944; background: #FFE; }
.ruby .char { color: #F07; }
.ruby .ident { color: #004; }
.ruby .constant { color: #07F; }
.ruby .regex { color: #B66; background: #FEF; }
.ruby .number { color: #F99; }
.ruby .attribute { color: #7BB; }
.ruby .global { color: #7FB; }
.ruby .expr { color: #227; }
.ruby .escape { color: #277; }