
* html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font: 1em/1.4em "Lucida Grande", Helvetica, sans-serif;
}

body * {
  margin: 0;
  padding: 0;
}

#container {
  font-size: 80%;
}

#header {
  height: 35px;
  background: url(../images/hdr-bg.gif) bottom left repeat-x;
}

#main {
  margin-left: 32%;
}

#sidebar {
  width: 30%;
  padding: 4px;
  font-size: 80%;
  float: left;
  line-height: 1.3em;
  background: url(../images/sbar-bg.gif) top right repeat-y;
  overflow: hidden;
}

a {
  color: #213449;
}

a:hover {
  background: #c00;
  color: #fff;
}



/*
 *=HEADER
 */

#header a {
  color: #fff;
  text-decoration: none;
  font-weight: normal;
  font-size: 90%;
  margin: 0 0 0 20px;
}

#header a:hover {
  background: transparent;
}

#header h1 {
  padding-top: 2px;
}

/*
 *=SIDEBAR
 */

.slist {
  color: #777;
  list-style: square;
  margin: 0 0 0 10px;
  padding: 0 0 0 10px;
}

.slist a {
  display: block;
  padding: 1px 0;
}

/*
 *=UTILITY
 */

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px 0;
}

h1 { font-size: 140%; }
h2 { font-size: 120%; color: #555; border-bottom: 1px dotted #ccc; }
img { border: 0; }

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-table;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */



/*
 *=SOURCE CODE
 */

.dyn-source {
  background: #FFE;
  color: #000;
  border: 1px dotted black;
  margin: 0.5em 2em 0.5em 2em;
  padding: 0.5em;
}

.dyn-source .comment {
color: #005; font-style: italic;
}

.dyn-source .keyword {
color: #A00; font-weight: bold;
}

pre,tt {
	font-size: 10pt;
}

.ruby .normal {}
.ruby .note { color: #005; font-style: italic; }
.ruby .keyword { color: #A00; font-weight: bold; }
.ruby .method { color: #077; }
.ruby .class { color: #074; }
.ruby .module { color: #050; }
.ruby .punct { color: #447; font-weight: bold; }
.ruby .symbol { color: #099; }
.ruby .string { color: #944; background: #FFE; }
.ruby .char { color: #F07; }
.ruby .ident { color: #004; }
.ruby .constant { color: #07F; }
.ruby .regex { color: #B66; background: #FEF; }
.ruby .number { color: #F99; }
.ruby .attribute { color: #7BB; }
.ruby .global { color: #7FB; }
.ruby .expr { color: #227; }
.ruby .escape { color: #277; }