<div class="section_title">
<span class="note_link"><%= show_notes_link('includes') %></span>
<div onClick="<%= show_or_hide("includemod") %>">Included Modules</div>
</div>
<div id="includemod">
<ul>
<% for include in @ra_code_objects[RaInclude] %>
<li><%= include.name %></li>
<% end %>
</ul>
<div id="notes_includes" style="display:none; margin-top: 5px;"></div>
</div>