<html>
<head>
  <title>Documentation</title>
  <%= stylesheet_link_tag 'docs' %>
</head>
<frameset cols="235,*">
	<frame src="/doc/sidebar" frameborder="0" name="sidebar" />
	<frame src="<%=@start_page || "index.html"%>" name="docwin" />
</frameset>
</html>