<div id="sidebar_slim">	
<%= render :partial => 'doc/partials/nav_sidebar' %>
</div>

<div id="body_content_wide" style="padding-left: 10px;">
<h2>Libraries</h2>
<table>
<tr style="font-size: 70%">
<td><b>Name</b></td>
<td><b>Description<b></td>
</tr>
<% @libraries.each do |library| %>
<tr style="font-size: 70%">
<td><%= link_to_library(library) %></a> </td>
<td><%= library.short_description %></td>
</tr>
<% end %>
</div>