<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />		
		<title><%= @page_title ? @page_title : RANNOTATE_SITE_NAME %></title>
		<%= stylesheet_link_tag "docs.css" %>
		<%= javascript_include_tag "prototype", "scriptaculous" %>
	</head>
	<body id="rannotate_site">
	
	<div id="wrap">
<div id="header">
  <span class="header_search_links"> 
		    <%= form_tag :controller => 'doc', :action => 'search', :name => nil %>		
		    [<%= link_to "All Files", :controller => 'doc', :action => "list", :type => "files"  %>]
		    [<%= link_to "All Classes", :controller => 'doc', :action => "list", :type => "classes" %>]
		    [<%= link_to "All Methods", :controller => 'doc', :action => "list", :type => "methods" %>]
		    [<%= link_to "Libraries", :controller => 'doc', :action => "libraries" %>]
		    <input type="text" name="name" size="20"/>&nbsp;<%= submit_tag "search" %>
		    <%= end_form_tag %> 
		  </span>
  <%= link_to(RANNOTATE_SITE_NAME, {:controller => 'doc', :action => 'index'},{:class=>"header_link"}) %><br/>
		  <% cur_lib_ver = get_current_version() %>
		  <span class="header_subtext">
		    <b>Version:</b> <%= cur_lib_ver.ver_string %>
		  </span>
</div>     
<%= @content_for_layout %>
</body>
</html>
