<html>
<head>
  <title>Notes</title>
  <%= stylesheet_link_tag 'notes' %>
  <%= javascript_include_tag 'checkboxes' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>

<%= @content_for_layout %>

</body>
</html>
